<div fxFlexFill>
  <mat-drawer-container fxFlexFill>
    <mat-drawer mode="side" opened width="20%">
      <div fxFlexFill>
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <a routerLink="/dashboard" routerLinkActive="active-link">DashBoards</a>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <a routerLink="/items" routerLinkActive="active-link">Equipos</a>
          </mat-toolbar-row>
          <mat-toolbar-row color="primary">
            <a routerLink="/reports" routerLinkActive="active-link">Reports</a>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <ng-content></ng-content>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
