<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">
      Inicio Sesión
    </mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit">
        Iniciar Sesión
      </button>
      <hr>
      <div fyFlex="30"></div>
      <button mat-raised-button type="button" (click)="toRegister()">
        Registro
      </button>
    </form>
  </mat-card>
</div>
